<div class="authors">
	<div class="container">
		<h3 class="authors-title">@@title</h3>
		<div class="authors-wrap">
			<div class="authors-item">
				<img src="images/author1.png" alt="" class="authors-img">
				<i class="authors-quote fa fa-quote-left" aria-hidden="true"></i>
				<p class="authors-text">When I was trying to publish my book about the vampires in 2004 no one was interested in this topic yet… But unexpectedly, it was this publishing company that took notice of me and my work.</p>
				<p class="authors-name">Tom Jameson</p>
			</div>
			<div class="authors-item">
				<img src="images/author2.png" alt="" class="authors-img">
				<i class="authors-quote fa fa-quote-left" aria-hidden="true"></i>
				<p class="authors-text">As an author, I can assure you, that waiting for la letter of interest from a publishing house is a nervous affair… Luckily, these guys were the first on my list and they published my short stories book.</p>
				<p class="authors-name">Diana McKinsey</p>
			</div>
		</div>
	</div>
</div>