<div class="blog-posts">
	<div class="blog-posts-item">
		<div class="blog-posts-img-wrap">
			<a href="#" class="blog-posts-img-link"><img src="images/post1.jpg" alt="" class="blog-posts-img"></a>
			<div class="blog-posts-tags"><a href="#" class="blog-posts-tags-link">Book adaptations</a><a href="#" class="blog-posts-tags-link">Our authors</a></div>
		</div>
		<div class="blog-posts-content">
			<h3 class="blog-posts-title"><a href="#" class="blog-posts-title-link">Things to know about writing the first chapter of your novel</a></h3>
			<div class="blog-posts-details">
				<span class="blog-posts-by">by<a href="#" class="blog-posts-link"> admin</a></span>
				<span class="blog-posts-date"><a href="#" class="blog-posts-link">oct 6 2016</a></span>
				<span class="blog-posts-comments"><a href="#" class="blog-posts-link">0 comments</a></span>
			</div>
			<p class="blog-posts-text">A reader walks into a bookstore. Spies an interesting book. What does she do? Picks it up. Flips to the first chapter before anything else. At least, that’s what I do.</p>
		</div>
		<div class="blog-posts-footer"><a href="#" class="blog-posts-footer-link">more<span class="blog-posts-footer-icon"></span></a></div>
	</div>
	<div class="blog-posts-item">
		<div class="blog-posts-img-wrap">
			<a href="#" class="blog-posts-img-link"><img src="images/post2.jpg" alt="" class="blog-posts-img"></a>
			<div class="blog-posts-tags"><a href="#" class="blog-posts-tags-link">Book adaptations</a><a href="#" class="blog-posts-tags-link">Our authors</a></div>
		</div>
		<div class="blog-posts-content">
			<h3 class="blog-posts-title"><a href="#" class="blog-posts-title-link">Self-care for writers: some tips from bestsellers author!</a></h3>
			<div class="blog-posts-details">
				<span class="blog-posts-by">by<a href="#" class="blog-posts-link"> admin</a></span>
				<span class="blog-posts-date"><a href="#" class="blog-posts-link">oct 6 2016</a></span>
				<span class="blog-posts-comments"><a href="#" class="blog-posts-link">0 comments</a></span>
			</div>
			<p class="blog-posts-text">Back when I was in elementary school, we used to do that thing on Valentine’s Day where you wrote little crummy cardboardy valentines (often from Your …</p>
		</div>
		<div class="blog-posts-footer"><a href="#" class="blog-posts-footer-link">more<span class="blog-posts-footer-icon"></span></a></div>
	</div>
	<div class="blog-posts-item">
		<div class="blog-posts-img-wrap">
			<a href="#" class="blog-posts-img-link"><img src="images/post3.jpg" alt="" class="blog-posts-img"></a>
			<div class="blog-posts-tags"><a href="#" class="blog-posts-tags-link">Book adaptations</a><a href="#" class="blog-posts-tags-link">Our authors</a></div>
		</div>
		<div class="blog-posts-content">
			<h3 class="blog-posts-title"><a href="#" class="blog-posts-title-link">Begin reading Terry Roberts’ critically new novel</a></h3>
			<div class="blog-posts-details">
				<span class="blog-posts-by">by<a href="#" class="blog-posts-link"> admin</a></span>
				<span class="blog-posts-date"><a href="#" class="blog-posts-link">oct 6 2016</a></span>
				<span class="blog-posts-comments"><a href="#" class="blog-posts-link">0 comments</a></span>
			</div>
			<p class="blog-posts-text">Gramercy Park, smiling at the sudden softening of city noise. In the past five years, as automobile and truck traffic replaced the rhythmic clip-clop of hooves and …</p>
		</div>
		<div class="blog-posts-footer"><a href="#" class="blog-posts-footer-link">more<span class="blog-posts-footer-icon"></span></a></div>
	</div>
	<div class="blog-posts-item">
		<div class="blog-posts-img-wrap">
			<a href="#" class="blog-posts-img-link"><img src="images/post4.jpg" alt="" class="blog-posts-img"></a>
			<div class="blog-posts-tags"><a href="#" class="blog-posts-tags-link">Book adaptations</a><a href="#" class="blog-posts-tags-link">Our authors</a></div>
		</div>
		<div class="blog-posts-content">
			<h3 class="blog-posts-title"><a href="#" class="blog-posts-title-link">100 Random Storytelling Thoughts And Tips, Starting Now</a></h3>
			<div class="blog-posts-details">
				<span class="blog-posts-by">by<a href="#" class="blog-posts-link"> admin</a></span>
				<span class="blog-posts-date"><a href="#" class="blog-posts-link">oct 6 2016</a></span>
				<span class="blog-posts-comments"><a href="#" class="blog-posts-link">0 comments</a></span>
			</div>
			<p class="blog-posts-text">0: none of this is true unless you find it to be true. 1. If you’re bored, we’re bored. 2. Characters at every level of the story want something — love, revenge, cake, whatever — and when we meet them we’d better soon know what that thing is. Especially if it’s cake. We can all…</p>
		</div>
		<div class="blog-posts-footer"><a href="#" class="blog-posts-footer-link">more<span class="blog-posts-footer-icon"></span></a></div>
	</div>
	<div class="blog-posts-item">
		<div class="blog-posts-img-wrap">
			<a href="#" class="blog-posts-img-link"><img src="images/post5.jpg" alt="" class="blog-posts-img"></a>
			<div class="blog-posts-tags"><a href="#" class="blog-posts-tags-link">Our authors</a></div>
		</div>
		<div class="blog-posts-content">
			<h3 class="blog-posts-title"><a href="#" class="blog-posts-title-link">How To Make The Most Out Of A Writing Critique: Ten Tips</a></h3>
			<div class="blog-posts-details">
				<span class="blog-posts-by">by<a href="#" class="blog-posts-link"> admin</a></span>
				<span class="blog-posts-date"><a href="#" class="blog-posts-link">oct 6 2016</a></span>
				<span class="blog-posts-comments"><a href="#" class="blog-posts-link">0 comments</a></span>
			</div>
			<p class="blog-posts-text">As you are a Certified Penmonkey — *stamps your head with the ancient sigil* — you will at various intersections be forced to endure a critique of your work. I don’t mean bad reviews, though those will line up, too, and you will run their gauntlet as they whack you about the head and neck…</p>
		</div>
		<div class="blog-posts-footer"><a href="#" class="blog-posts-footer-link">more<span class="blog-posts-footer-icon"></span></a></div>
	</div>
	<div class="blog-posts-item">
		<div class="blog-posts-img-wrap">
			<a href="#" class="blog-posts-img-link"><img src="images/post7.jpg" alt="" class="blog-posts-img"></a>
			<div class="blog-posts-tags"><a href="#" class="blog-posts-tags-link">Book adaptations</a></div>
		</div>
		<div class="blog-posts-content">
			<h3 class="blog-posts-title"><a href="" class="blog-posts-title-link">An Expedition Into The Dark, Tumultuous Heart Of Authorial Self-hatred</a></h3>
			<div class="blog-posts-details">
				<span class="blog-posts-by">by<a href="#" class="blog-posts-link"> admin</a></span>
				<span class="blog-posts-date"><a href="#" class="blog-posts-link">oct 6 2016</a></span>
				<span class="blog-posts-comments"><a href="#" class="blog-posts-link">0 comments</a></span>
			</div>
			<p class="blog-posts-text">You’re sitting there. You’re writing. It’s going good. Or just okay. Or whatever. Your fingers are moving, your brain is barfing up ideas, and sentence by sentence, this story comes to life. And then: this radar ping, where you unconsciously send out a signal to test your self-worth as a writer to ask the innocuous…</p>
		</div>
		<div class="blog-posts-footer"><a href="#" class="blog-posts-footer-link">more<span class="blog-posts-footer-icon"></span></a></div>
	</div>
</div>
