<div class="blog-calendar-wrap">
	<div class="blog-calendar-table">
		<div class="blog-calendar-table-name">April 2016</div>
		<div class="blog-calendar-table-head">
			<div class="blog-calendar-table-row">
				<div class="blog-calendar-table-cell-title" title="Monday">M</div>
				<div class="blog-calendar-table-cell-title" title="Tuesday">T</div>
				<div class="blog-calendar-table-cell-title" title="Wednesday">W</div>
				<div class="blog-calendar-table-cell-title" title="Thursday">T</div>
				<div class="blog-calendar-table-cell-title" title="Friday">F</div>
				<div class="blog-calendar-table-cell-title" title="Saturday">S</div>
				<div class="blog-calendar-table-cell-title" title="Sunday">S</div>
			</div>
		</div>
		<div class="blog-calendar-table-body">
			<div class="blog-calendar-table-row">
				<div class="blog-calendar-table-cell"></div>
				<div class="blog-calendar-table-cell"></div>
				<div class="blog-calendar-table-cell"></div>
				<div class="blog-calendar-table-cell"></div>
				<div class="blog-calendar-table-cell"></div>
				<div class="blog-calendar-table-cell">1</div>
				<div class="blog-calendar-table-cell">2</div>
			</div>
			<div class="blog-calendar-table-row">
				<div class="blog-calendar-table-cell">3</div>
				<div class="blog-calendar-table-cell">4</div>
				<div class="blog-calendar-table-cell">5</div>
				<div class="blog-calendar-table-cell">6</div>
				<div class="blog-calendar-table-cell">7</div>
				<div class="blog-calendar-table-cell">8</div>
				<div class="blog-calendar-table-cell">9</div>
			</div>
			<div class="blog-calendar-table-row">
				<div class="blog-calendar-table-cell">10</div>
				<div class="blog-calendar-table-cell blog-calendar-table-active">11</div>
				<div class="blog-calendar-table-cell">12</div>
				<div class="blog-calendar-table-cell">13</div>
				<div class="blog-calendar-table-cell">14</div>
				<div class="blog-calendar-table-cell">15</div>
				<div class="blog-calendar-table-cell">16</div>
			</div>
			<div class="blog-calendar-table-row">
				<div class="blog-calendar-table-cell">17</div>
				<div class="blog-calendar-table-cell">18</div>
				<div class="blog-calendar-table-cell">19</div>
				<div class="blog-calendar-table-cell">20</div>
				<div class="blog-calendar-table-cell">21</div>
				<div class="blog-calendar-table-cell">22</div>
				<div class="blog-calendar-table-cell">23</div>
			</div>
			<div class="blog-calendar-table-row">
				<div class="blog-calendar-table-cell">24</div>
				<div class="blog-calendar-table-cell">25</div>
				<div class="blog-calendar-table-cell">26</div>
				<div class="blog-calendar-table-cell">27</div>
				<div class="blog-calendar-table-cell">28</div>
				<div class="blog-calendar-table-cell">29</div>
				<div class="blog-calendar-table-cell">30</div>
			</div>
		</div>
		<div class="blog-calendar-table-footer">
			<div class="blog-calendar-table-row">
				<div class="blog-calendar-table-cell">
					<a class="blog-calendar-table-link" href="https://ld-wp.template-help.com/wordpress_60118/2016/10/">Oct</a>
				</div>
			</div>
		</div>
	</div>
</div>