<div class="footer p-footer">
	<div class="footer-wrap">
		<div class="footer-item footer-item-1">
			<a href="#" class="footer-link">
				<img src="images/footer_logo.png" alt="" class="footer-logo">
			</a>
		</div>
		<div class="footer-item footer-item-2">
			<p class="footer-text">For years our publishing company has been instrumental in picking the best authors from the rest, enhancing the reading experience for millions of Americans yearly!</p>
		</div>
		<div class="footer-item footer-item-3">
			<ul class="footer-list">
				<li class="footer-list-item"><a href="#" class="footer-link">self-publishing</a></li>
				<li class="footer-list-item"><a href="#" class="footer-link">editorial services</a></li>
				<li class="footer-list-item"><a href="#" class="footer-link">book design</a></li>
				<li class="footer-list-item"><a href="#" class="footer-link">solicitation & publishing</a></li>
			</ul>
		</div>
		<div class="footer-item footer-item-4">
			<ul class="footer-list">
				<li class="footer-list-item">22 St. Black Road  Raleigh, PA 34578</li>
				<li class="footer-list-item">Call Us Today
					<a href="#" class="footer-link">555.123.2323</a>
				</li>
				<li class="footer-list-item"><a href="#" class="footer-link">bookgroup@demolink.org</a></li>
				<li class="footer-list-item"><a href="#" class="footer-link">sales@demolink. org</a></li>
			</ul>
		</div>
	</div>
	<div class="footer-site-info">
		<div class="footer-site-info-wrap">
			<div class="footer-copyright">
				<p class="footer-text">© 2017 BOOK GROUP, INC. ALL RIGHTS RESERVED</p>
			</div>
			<div class="footer-icons">
				<a class="soc-icons" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a class="soc-icons" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a class="soc-icons" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>