<div class="header">
	<div class="h-top">
		<div class="container">
			<div class="h-top-icons">
				<a class="soc-icons" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a class="soc-icons" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a class="soc-icons" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			</div>
			<div class="h-top-info">
				<div class="h-top-info-text">Powered by Experts. Published by you.</div>
				<div class="h-top-info-text">Call Us Today
					<a href="#" class="h-top-link">555.123.2323</a>
				</div>
				<div class="h-top-info-text">22 St. Black Road  Raleigh, PA 34578</div>
			</div>
		</div>
	</div>
	<div class="h-logo">
		<div class="container">
			<div class="h-logo-b">
				<a href="/" class="h-logo-link">
					<img src="images/logo.png" alt="Bookgroup logotype" class="h-logo-img">
				</a>
			</div>
			<div class="h-nav-m">
				<a class="h-nav-m-icon"><i class="fa fa-bars" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<div class="h-nav">
		<div class="container">
			<ul class="h-nav-list">
				<li class="h-nav-item">
					<a href="index.html" class="h-nav-link">home
						<i class="fa fa-angle-down is-show" aria-hidden="true"></i>
						<i class="fa fa-angle-up is-hide" aria-hidden="true"></i>
					</a>
					<div class="h-nav-submenu">
						<ul class="h-nav-submenu_list">
							<li class="h-nav-submenu_item">
								<a href="#" class="h-nav-submenu_link">Header settings
									<i class="fa fa-angle-down is-show" aria-hidden="true"></i>
									<i class="fa fa-angle-up is-hide" aria-hidden="true"></i>
								</a>
								<div class="h-nav-submenu">
									<ul class="h-nav-submenu_list">
										<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Header style 1</a></li>
										<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Header style 2</a></li>
										<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Header style 3</a></li>
									</ul>
								</div>
							</li>
							<li class="h-nav-submenu_item">
								<a href="#" class="h-nav-submenu_link">Footer Settings
									<i class="fa fa-angle-down is-show" aria-hidden="true"></i>
									<i class="fa fa-angle-up is-hide" aria-hidden="true"></i>
								</a>
								<div class="h-nav-submenu">
									<ul class="h-nav-submenu_list">
										<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Header style 3</a></li>
										<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Header style 4</a></li>
										<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Header style 5</a></li>
									</ul>
								</div>
							</li>
							<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Typography</a></li>
							<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Static Elements</a></li>
							<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">FAQs</a></li>
							<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">404</a></li>
							<li class="h-nav-submenu_item"><a href="#" class="h-nav-submenu_link">Documentation</a></li>
						</ul>
					</div>
				</li>
				<li class="h-nav-item"><a href="about_us.html" class="h-nav-link">about us</a></li>
				<li class="h-nav-item"><a href="services.html" class="h-nav-link">services</a></li>
				<li class="h-nav-item"><a href="pricing.html" class="h-nav-link">pricing</a></li>
				<li class="h-nav-item"><a href="blog.html" class="h-nav-link">blog</a></li>
				<li class="h-nav-item asd"><a href="contacts.html" class="h-nav-link">contacts</a></li>
			</ul>
		</div>
	</div>
</div>