	<div class="latest">
		<div class="container">
			<h3 class="latest-title">latest articles</h3>
			<div class="latest-wrap">
				<div class="latest-item latest-item-1">
					<h4 class="latest-item-title"><a href="#" class="latest-item-link">Things to know about writing the first chapter of your novel</a></h4>
					<div class="latest-item-img-wrap"><a href="#" class="latest-item-link"><img src="images/post1.jpg" alt="" class="latest-item-img"></a></div>
					<p class="latest-item-text">A reader walks into a bookstore. Spies an interesting book. What does she do? Picks it up. Flips to the first chapter before anything else. At least, that’s what I do.</p>
					<div class="latest-item-details">
						<span class="latest-item-post_by">by<a href="#" class="latest-item-link"> admin</a></span>
						<span class="latest-item-date">oct 6 2016</span>
						<span class="latest-item-comments">0 comments</span>
					</div>
				</div>
				<div class="latest-item latest-item-2">
					<h4 class="latest-item-title"><a href="#" class="latest-item-link">Self-care for writers: some tips from bestsellers author!</a></h4>
					<div class="latest-item-img-wrap"><a href="#" class="latest-item-link"><img src="images/post2.jpg" alt="" class="latest-item-img"></a></div>
					<p class="latest-item-text">Back when I was in elementary school, we used to do that thing on Valentine’s Day where you wrote little crummy cardboardy valentines (often from Your ...</p>
					<div class="latest-item-details">
						<span class="latest-item-post_by">by<a href="#" class="latest-item-link"> admin</a></span>
						<span class="latest-item-date">oct 6 2016</span>
						<span class="latest-item-comments">0 comments</span>
					</div>
				</div>
				<div class="latest-item latest-item-3">
					<h4 class="latest-item-title"><a href="#" class="latest-item-link">Begin reading Terry Roberts’ critically new novel</a></h4>
					<div class="latest-item-img-wrap"><a href="#" class="latest-item-link"><img src="images/post3.jpg" alt="" class="latest-item-img"></a></div>
					<p class="latest-item-text">Gramercy Park, smiling at the sudden softening of city noise. In the past five years, as automobile and truck traffic replaced the rhythmic clip-clop of hooves and ..</p>
					<div class="latest-item-details">
						<span class="latest-item-post_by">by<a href="#" class="latest-item-link"> admin</a></span>
						<span class="latest-item-date">oct 6 2016</span>
						<span class="latest-item-comments">0 comments</span>
					</div>
				</div>
				<div class="latest-btn-wrap"><a href="#" class="latest-btn">go to blog</a></div>
			</div>
		</div>
	</div>
