<div class="message">
	<div class="container">
		<div class="message-title">
			<h3 class="message-title-lg">have some questions?</h3>
			<h5 class="message-title-sm">send us a message</h5>
		</div>
		<div class="message-form-wrap">
			<form action="post" class="message-form">
				<input type="text" placeholder="your name" class="message-input input-standart">
				<input type="email" placeholder="your e-mail" class="message-input input-standart">
				<textarea name="message-field" placeholder="your text" class="message-text input-standart"></textarea>
				<button class="message-btn">send message</button>
			</form>
		</div>
	</div>
</div>