<div class="contacts-offer">
	<div class="contacts-offer-wrap">
		<h3 class="contacts-offer-title blog-title">@@subscribe-title</h3>
		<p class="contacts-offer-text">@@subscribe-text</p>
		
		@@include('form.html', {"placeholder-title": "Enter your e-mail"})

	</div>
	<div class="contacts-connected">
		<h3 class="contacts-connected-title">@@connected-title</h3>
		<div class="contacts-connected-icons">
			<a class="soc-icons"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a class="soc-icons"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a class="soc-icons"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
		</div>
	</div>
</div>