<div class="price-b">
	<div class="container">
		<h3 class="price-b-title">pricing table</h3>
		<div class="price-b-wrap">
			<div class="price-b-item">
				<div class="price-b-top">
					<h4 class="price-b-item-title">book design</h4>
				</div>
				<div class="price-b-center">
					<p class="price-b-item-from">from</p>
					<span class="price-b-item-sign">$</span>
					<span class="price-b-item-value">500</span>
					<p class="price-b-item-for">for 10 pages</p>
					<p class="price-b-item-desc">We will make sure yourbook looks its best!</p>
				</div>
				<a href="#" class="price-b-btn">more details</a>
			</div>
			<div class="price-b-item">
				<div class="price-b-top">
					<h4 class="price-b-item-title">self-publishing</h4>
				</div>
				<div class="price-b-center">
					<p class="price-b-item-from">from</p>
					<span class="price-b-item-sign">$</span>
					<span class="price-b-item-value">300</span>
					<p class="price-b-item-for">for 20 pages</p>
					<p class="price-b-item-desc">Rely on us and earn a new fan base of readers!</p>
				</div>
				<a href="#" class="price-b-btn">more details</a>
			</div>
			<div class="price-b-item">
				<div class="price-b-top">
					<h4 class="price-b-item-title">editorial</h4>
				</div>
				<div class="price-b-center">
					<p class="price-b-item-from">from</p>
					<span class="price-b-item-sign">$</span>
					<span class="price-b-item-value">400</span>
					<p class="price-b-item-for">for 10 pages</p>
					<p class="price-b-item-desc">Correcting mistakes and formatting is what we do!</p>
				</div>
				<a href="#" class="price-b-btn">more details</a>
			</div>
			<div class="price-b-item">
				<div class="price-b-top">
					<h4 class="price-b-item-title">e-book promo</h4>
				</div>
				<div class="price-b-center">
					<p class="price-b-item-from">from</p>
					<span class="price-b-item-sign">$</span>
					<span class="price-b-item-value">600</span>
					<p class="price-b-item-for">for 20 pages</p>
					<p class="price-b-item-desc">Promoting your e-book will be an honour for us!</p>
				</div>
				<a href="#" class="price-b-btn">more details</a>
			</div>
		</div>
	</div>
</div>