<div class="services">
	<div class="container">
		<div class="s-item">
			<div class="s-item-b-img"><img src="images/item1.jpg" alt="" class="s-item-img"></div>
			<div class="s-item-b-content">
				<h3 class="s-item-title"><a href="#" class="s-item-link">self-publishing</a></h3>
			</div>
		</div>
		<div class="s-item">
			<div class="s-item-b-img"><img src="images/item2.jpg" alt="" class="s-item-img"></div>
			<div class="s-item-b-content">
				<h3 class="s-item-title"><a href="#" class="s-item-link">book design</a></h3>
			</div>
		</div>
		<div class="s-item">
			<div class="s-item-b-img"><img src="images/item3.jpg" alt="" class="s-item-img"></div>
			<div class="s-item-b-content">
				<h3 class="s-item-title"><a href="#" class="s-item-link">book marketing</a></h3>
			</div>
		</div>
		<div class="s-item">
			<div class="s-item-b-img"><img src="images/item4.jpg" alt="" class="s-item-img"></div>
			<div class="s-item-b-content">
				<h3 class="s-item-title"><a href="#" class="s-item-link">editorial services</a></h3>
			</div>
		</div>
		<div class="s-item">
			<div class="s-item-b-img"><img src="images/item5.jpg" alt="" class="s-item-img"></div>
			<div class="s-item-b-content">
				<h3 class="s-item-title"><a href="#" class="s-item-link">solicitation & publishing</a></h3>
			</div>
		</div>
		<div class="s-item">
			<div class="s-item-b-img"><img src="images/item6.jpg" alt="" class="s-item-img"></div>
			<div class="s-item-b-content">
				<h3 class="s-item-title"><a href="#" class="s-item-link">e-book promotion</a></h3>
			</div>
		</div>
	</div>
</div>