$yellow:					#feea3a;
$white:						#ffffff;
$gray-middle:				#888888;
$gray-dark:					#333333;
$green:						#009587;
$red:						#b7170b;
$white-smoke:				#f2f2f2;
$red-tomato:				#f34235;
$green-darken:				#047a6f;
$blue-dark:					#363f45;


$main-text-color: 			$gray-middle;
$main-title-color:			$gray-dark;


$secondary-title-color:		$green;
$third-title-color: 		$yellow;

$soc-icons-color:			$blue-dark;

$reverse-title-color:		$white;
$reverse-text-color:		$white;
$reverse-bg:				$white;


$primary-bg:				$yellow;
$secondary-bg:				$red;
$third-bg:					$white-smoke;
$fourth-bg:					$green;
$fifth-bg:					$yellow;
$soc-icons-bg:				$green-darken;


$item-reseller:				$yellow;
$item-vps_hosting:			$green;
$item-dedicatet_hosting:	$red-tomato;


$primary-btn:				$green;
