<div class="features">
	<div class="container">
		<div class="f-item">
			<span class="f-icon">
				<i class="icon-hotairballoon"></i>
			</span>
			<div class="f-item-content">
				<div class="f-item-title">
					<h3>Marketing</h3>
				</div>
				<div class="f-item-text">
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
				</div>
				<div class="f-item-btn"><a href="#" class="f-item-btn-link">learn more<i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="f-item">
			<span class="f-icon">
				<i class="icon-search"></i>
			</span>
			<div class="f-item-content">
				<div class="f-item-title">
					<h3>Search Engine</h3>
				</div>
				<div class="f-item-text">
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
				</div>
				<div class="f-item-btn"><a href="#" class="f-item-btn-link">learn more<i class="icon-arrow-right22"></i></a></div>
			</div>
		</div>
		<div class="f-item">
			<span class="f-icon">
				<i class="icon-wallet"></i>
			</span>
			<div class="f-item-content">
				<div class="f-item-title">
					<h3>Earn Money</h3>
				</div>
				<div class="f-item-text">
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
				</div>
				<div class="f-item-btn"><a href="#" class="f-item-btn-link">learn more<i class="icon-arrow-right22"></i></a></div>
			</div>
		</div>
		<div class="f-item">
			<span class="f-icon">
				<i class="icon-wine"></i>
			</span>
			<div class="f-item-content">
				<div class="f-item-title">
					<h3>Entrepreneur</h3>
				</div>
				<div class="f-item-text">
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
				</div>
				<div class="f-item-btn"><a href="#" class="f-item-btn-link">learn more<i class="icon-arrow-right22"></i></a></div>
			</div>
		</div>
		<div class="f-item">
			<span class="f-icon">
				<i class="icon-genius"></i>
			</span>
			<div class="f-item-content">
				<div class="f-item-title">
					<h3>Stragic Plan</h3>
				</div>
				<div class="f-item-text">
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
				</div>
				<div class="f-item-btn"><a href="#" class="f-item-btn-link">learn more<i class="icon-arrow-right22"></i></a></div>
			</div>
		</div>
		<div class="f-item">
			<span class="f-icon">
				<i class="icon-chat"></i>
			</span>
			<div class="f-item-content">
				<div class="f-item-title">
					<h3>Support</h3>
				</div>
				<div class="f-item-text">
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
				</div>
				<div class="f-item-btn"><a href="#" class="f-item-btn-link">learn more<i class="icon-arrow-right22"></i></a></div>
			</div>
		</div>
	</div>
</div>