<div class="header">
	<div class="container">
		<div class="header-logo">
			<a href="index.html" class="header-logo-link">air<span>.</span></a>
		</div>
		<div class="header-nav">
			<span class="header-nav-mobile"></span>
			<ul class="header-nav-list">
				<li class="header-nav-item"><a href="index.html" class="header-link">Home</a></li>
				<li class="header-nav-item"><a href="portfolio.html" class="header-link">Portfolio</a></li>
				<li class="header-nav-item"><a href="blog.html" class="header-link">Blog</a></li>
				<li class="header-nav-item"><a href="about.html" class="header-link">About</a></li>
				<li class="header-nav-item"><a href="contact.html" class="header-link">Contact</a></li>
			</ul>
		</div>
	</div>
</div>