
$gray-base: 			#000000;
$gray-dark: 			#333333;
$gray-light: 			#828282;

$blue: 					#2a528a;
$white: 				#ffffff;
$rose: 					#dd356e;
$lemon: 				#fee856;

$primary-text-color: 		$gray-base;
$primary-link-color: 		$rose;

$secondary-text-color: 		$gray-dark;

$reverse-text-color: 		$white;

$primary-btn-color: 		$white;
$primary-btn-background:	$rose;

$reverse-btn-background:	$white;

$secondary-background:		$lemon;
$slider-background: 		$blue;
$accent-color: 				$rose;

$sub-title: 				$gray-light;