.blog {
	@extend %sections;

	border-top: 1px solid $secondary-border-color;
	padding-top: 20px;

	&-title {
		font-weight: 600;
		font-size: 1em;
		text-align: left;
		text-transform: capitalize;
		margin-bottom: .5em;

		@include mq(992) {
			font-size: 2em;
		}
	}

	&-content {
		@include mq(767) {
			float: left;
			width: 68%;
		}
	}

	&-aside {
		@include mq(767) {
			float: right;
			width: 30%;
		}

		&-item {
			margin-bottom: 1em;

			@include mq(767) {
				margin-bottom: 2em;
				border-top: 1px solid $secondary-border-color;
				padding-top: 2em;
			}
		}
	}
	
	&-pagination {
		margin-bottom: 3em;

		@include mq(767) {
			margin-bottom: 0;
		}
	}

	&-page-link {
		color: $primary-text-color;
		font-size: 2em;
		font-weight: 300;
		font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
		margin-right: .5em;

		&:hover {
			color: $secondary-link-color;
		}

		&:last-child {
			margin-right: 0;
			font-size: 2.5em;
			vertical-align: sub;
		}

		&-active {
			color: $secondary-link-color;
		}
	}

	&-search {
		@include clearfix;

		margin-bottom: 1em;

		@include mq(767) {
			margin-bottom: 2em;
		}

		&-form {
			@include clearfix;
		}

		&-input {
			border-left: none;
			border-right: none;
			width: 100%;
			float: left;


			@include placeholder {
				text-transform: capitalize;
			}
		}

		&-btn {
			@extend .primary-btn;

			margin-left: -4.5em;
			padding: 1.17em 1.6em;
			float: left;

			&:after {
				content: '\f002';
				font-family: FontAwesome;
			}
		}
	}

	&-latest {
		&-item {
			margin-top: 2em;
			&-date {
				color: $accent-color;
			}

			&-link {
				display: block;
				font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
				color: $secondary-text-color;
				font-size: 1.5em;
				font-weight: 600;
				margin-top: 1rem;
				transition: .3s all ease;

				&:hover {
					color: $secondary-link-color;
				}
			}
		}
	}

	&-tags  {
		
		&-wrap {
			margin-top: 2em;
		}

		&-link {
			@extend .btn;
			border-color: $primary-btn-bg;
			color: $reverse-btn-color;
			padding: 0.4em 0.9em;
			text-transform: none;
			font-family: Lato,sans-serif;
			margin: 0 8px 10px 0;
			line-height: 2em;

			&:hover {
				border-color: $secondary-btn-color;
				color: $secondary-btn-color;
			}
		}
	}

	&-archive {

		&-item {

			&-link {
				display: block;
				color: $reverse-btn-color;
				text-transform: capitalize;
				font-family: Lato,sans-serif;
				font-weight: 600;
				line-height: 1.5em;

				&:before {
					font-family: FontAwesome;
					content: '\f111';
					font-size: 5px;
					vertical-align: bottom;
					color: $secondary-btn-color;
					margin-right: 7px;
				}

				&:hover {
					color: $secondary-btn-color;
				}
			}
		}
	}

	&-calendar {

	}
}


.p-blog {
	.contacts-offer {
		margin-bottom: 1em;

		@include mq(767) {
			margin-bottom: 2em;
		}
	}
	.contacts-offer-wrap {
		padding: 1em;
		@include mq(992) {
			padding: 1.5em 3em;
		}
		
	}

	.contacts-offer-text {
		font-family: Lato,sans-serif;
		font-size: .9em;
		margin-bottom: 1rem;
	}

	.subscribe-input {
		width: 100%;	
	}
	
	.subscribe-btn {
		margin-top: 2em;

		@include mq(767) {
			padding: 8% 12%;
		}
	}

	.slider .slick-prev:before,
	.slider .slick-next:before {
		font-family: FontAwesome;
		color: $primary-text-color;
		font-weight: 400;
		font-size: 20px;

		&:hover {
			color: $secondary-text-color;
		}
	}

	.slider .slick-prev:before {
		content: '\f053';
	}

	.slider .slick-next:before {
		content: '\f054';
		color: $secondary-text-color;
	}
}