.sm-banner {
	@extend %sections;

	background: $contact-us-bg;
	color: $reverse-text-color;
	text-align: center;

	&-text {
		font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
		font-size: 1.2em;
		font-weight: 600;
		
		@include mq(767) {
			font-size: 1.5em;
		}
	}
}