
$gray-base: 				#000000;
	
$gray-dark: 				#323232;
$gray-middle: 				#4f4f4f;
$gray-light: 				#727272;
$gray-super-light:			#ebebeb;

$violet: 					#9577c2;

$white: 					#ffffff;

$smoke-white: 				#f2f2f2;
$dark-smoke-white:      	#a5a5a5;
$light-smoke-white:			#f5f5f5;

$primary-text-color: 		$gray-dark;

$secondary-text-color:  	$gray-base;

$reverse-text-color: 		$white;

$primary-title-color: 		$gray-base;
$secondary-title-color: 	$white;


$primary-link-color: 		$gray-dark;
$secondary-link-color: 		$violet;

$primary-btn-color: 		$white;
$secondary-btn-color:		$gray-base;
$reverse-btn-color: 		$violet;

$primary-btn-bg:			$violet;
$reverse-btn-bg: 			$white;

$primary-bg: 				$light-smoke-white;
$secondary-bg:				$smoke-white;
$additional-bg: 			$gray-super-light;
$reverse-bg:				$white;
$contact-us-bg:				$violet;

$accent-color: 				$dark-smoke-white;

$footer-color: 				$gray-light;
$footer-bg:					$gray-base;

$border-color:  			$gray-light;
$secondary-border-color: 	$gray-super-light;
$contact-border-color: 		$white;
$contacts-border: 			$violet;


$footer-icons: 				$light-smoke-white;
